<div class="container d-flex justify-content-center" data-controller="cart" data-cart-url-value="<%= new_order_path %>">
  <div class="col-8">
    <%= render 'shared/products', products: @products %>
  </div>

  <div class="col-4 justify-content-end border" id="cart">

    <div>
      <%= form_with url: new_order_path, method: :get do |form| %>
        <%= form.label :products_ids, "products" %>
        <%= form.text_field :products_ids %>
        <%= form.submit "Check Out" %>
      <% end %>
    </div>
  </div>
</div>